# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking
User=tomcat6
Group=tomcat6
PIDFile=/var/run/tomcat6/tomcat6.pid
ExecStart=/usr/share/tomcat6/bin/startup.sh
ExecStop=/usr/share/tomcat6/bin/shutdown.sh
KillMode=process
Restart=on-failure
TimeoutSec=300
SyslogIdentifier=tomcat-%i
EnvironmentFile=/etc/tomcat6/tomcat6.conf
RuntimeDirectory=tomcat6

[Install]
WantedBy=multi-user.target
